:root{
  --white: #fff;
  --black: #182339;
  --primary: #61ECBC;
}


html{
  font-size: 62.5% /* 1rem = 10px */;

}

body{
  background-image: url(/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
}

.container{
  max-width: 60rem;
  width: 95%;
  margin: 0 auto;
}

.app-title{
  color: var(--white);
  font-size: 3.8rem;
  text-align: center;
  margin-top: 4rem;
  line-height: .9;
}

.app-title span{
  display: block;
  color: var(--primary);
  font-size: 4.4rem;
}

.content{
  margin-top: 5rem;
  padding: 6rem 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*? FORM */

.form,
.field{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form label{
  color: var(--black);
}

.form select{
  background-color: #ECEBEB;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.8rem;
}

.form input[type="submit"]{
  background-color: var(--primary);
  color: var(--black);
  border: none;
  padding: 1rem;
  font-weight: 900;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 2rem;
  transition: background-color .3s ease;
}

.form input[type="submit"]:hover{
  background-color: #0CB387;
}

/**? Error alerta */

.error-alert{
  background-color: #bb2244;
  color: #fff;
  text-align: center;
  padding: 1rem;
  border-radius: .5rem;
  text-transform: uppercase;
  font-weight: 900;
}

/**? Cotizacion display */

.result-wrapper{
  margin-top: 5rem;
}

.result-wrapper h2{
  text-align: center;
}

.result{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 1rem;
}

.result img{
  width: 100%;
}

.result p{
margin: 0 0 1rem;
font-size: 1.6rem;
}

.result span{
  font-weight: 700;
}

/*Spiunner */

.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
  margin: 0  auto;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: var(--primary);
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}